<section>
  <header class='flex-header'>
    <h1 class='grow-header'>
      {{localize 'ACN.overview.title'}}
    </h1>
  </header>
</section>
<section class='acn-notes'>
  {{#if this.notes.length}}
    <table>
      <thead>
        <tr>
          <th>{{localize 'ACN.table.journalEntry'}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.notes}}
          <tr>
            <td>
              <a
                class='content-link'
                draggable='true'
                data-uuid='{{this.uuid}}'
                data-id='{{this.id}}'
                data-type='{{this.type}}'
                data-tooltip='Journal Entry'
              ><i class='fas fa-book-open'></i>{{this.name}}</a>
            </td>
            <td class='actions'>
              <a class='delete-note' data-uuid='{{this.uuid}}' title='Delete Note'><i class='fas fa-trash-alt'></i></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class='notes-drop-target'>
      <span class='text'>{{localize 'ACN.overview.drop-target.text'}}</span>
      <i class='fas fa-plus'></i>
    </div>
  {{else}}
    <div class='notes-drop-target'>
      <span class='text'>{{localize 'ACN.overview.drop-target.textEmpty'}}</span>
      <i class='fas fa-plus'></i>
    </div>
  {{/if}}
</section>
