<section>
  <header class='flex-header'>
    <h1 class='grow-header'>
      {{localize 'ACN.overview.title'}}
    </h1>
  </header>
</section>
<section class='acn-notes'>
  {{#if this.notes.length}}
    <table>
      <thead>
        <tr>
          <th>{{localize 'ACN.note.title'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.notes}}
          <tr>
            <td>
              <a
                class='content-link'
                draggable='true'
                data-uuid='JournalEntry.{{this.id}}'
                data-id='{{this.id}}'
                data-type='JournalEntry'
                data-tooltip='Journal Entry'
              ><i class='fas fa-book-open'></i>{{this.name}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class='notes-drop-target'>
      Drag a journal entry onto this area to add another note.
    </div>
  {{else}}
    <div class='notes-drop-target'>
      You currently don't have any combat notes.<br />
      Drag a journal entry onto this area to add your first note.
    </div>
  {{/if}}
</section>
