<section>
  <header class='flex-header'>
    <h1 class='grow-header'>
      {{localize 'ACN.overview.title'}}
    </h1>
  </header>
</section>
<section class='acn-notes'>
  {{#if this.notes.length}}
    <table>
      <thead>
        <tr>
          <th>{{localize 'ACN.table.journalEntry'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.notes}}
          <tr>
            <td>
              <a
                class='content-link'
                draggable='true'
                data-uuid='{{this.uuid}}'
                data-id='{{this.id}}'
                data-type='{{this.type}}'
                data-tooltip='Journal Entry'
              ><i class='fas fa-book-open'></i>{{this.name}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class='notes-drop-target'>
      <span class='text'>Drag a journal entry onto this area to add another note.</span>
    </div>
  {{else}}
    <div class='notes-drop-target'>
      <span class='text'>You currently don't have any combat notes.<br />
        Drag a journal entry onto this area to add your first note.</span>
    </div>
  {{/if}}
</section>
